<div class="container mt-5">

  <h1>Image Text Translation</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <img [src]="photo ? photo : photoDefault" width="400" height="300" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> Foto </p>
        </div>
      </div>
    </div>  
    <div class="col-md-6 mt-2">
      <input type="file" (change)="onFileChanged($event)">
    </div>
 </div>

 <hr>

 <div class="row" *ngIf="languages">
    <div class="col-md-4">
      <label class="mr-2">Source Language</label>
      <select [(ngModel)]="sourceLanguage">
        <option *ngFor="let item of languages" [value]="item.code">{{item.name}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label class="mr-2">Target Language</label>
      <select [(ngModel)]="targetLanguage">
        <option *ngFor="let item of languages" [value]="item.code">{{item.name}}</option>
      </select>
    </div>
    
 </div>

 <div class="row mt-2">
  <div class="col-md-4">
    <button type="button" class="btn btn-success" (click) = "translate()"> Traducir</button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-danger" (click) = "reset()">Reset</button>
  </div>
 </div>

 <hr>

 <div class="row" *ngIf="textDetected">
  <div class="col-md-6">
    <h3>Texto Detectado:</h3>
    <p>
      {{textDetected}}
    </p>
    <br>
    <h3>Texto traducido:</h3>
    <p>
      {{textTranslated}}
    </p>
  </div>
 </div>

</div>